* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: Arial;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.Nav {
    width: 220px;
    background-color: #f4d35e;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    border: 2px solid black;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

header {
    height: 120px;
    background-color: #9bd770;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 28px;
    font-weight: bold;

    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

main {
    flex: 1;

    background-color: #8ecae6;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 32px;
    font-weight: bold;

    border-right: 2px solid black;
}


footer {
    height: 120px;
    background-color: #f7a8c6;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 28px;
    font-weight: bold;

    border-top: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}